In [2]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web


df = web.DataReader(name="META", data_source="stooq")
# df.head()
# df.info()

In [16]:
# Zapis danych z df do pliku csv
df.to_csv("/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.csv")

In [15]:
df_nov_mask = (df.index.month == 9) & (df.index.year == 2024)
df_nov = df[df_nov_mask].sort_index()
df_nov.to_excel("/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.xlsx")

In [24]:
# Odczyt danych z plik√≥w

meta_from_csv = pd.read_csv(
    "/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.csv"
)
meta_from_csv

meta_from_excel = pd.read_excel(
    "/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.xlsx"
)
meta_from_excel.sort_index()

         Date     Open      High       Low    Close    Volume
0  2024-09-03  519.640  525.4900  508.6176  511.760  12459113
1  2024-09-04  506.070  516.5900  504.0700  512.740   8335207
2  2024-09-05  511.720  521.6295  511.1500  516.860   8640888
3  2024-09-06  521.880  524.5849  498.2500  500.270  14744521
4  2024-09-09  506.160  511.3300  502.0800  504.790  11047828
5  2024-09-10  508.160  514.1800  500.0278  504.790   9899022
6  2024-09-11  507.010  513.1200  495.6000  511.830  10782532
7  2024-09-12  517.050  526.7100  515.2200  525.600  11993342
8  2024-09-13  520.340  527.5810  517.1100  524.620  10321422
9  2024-09-16  524.540  534.1000  517.4000  533.280   9527646
10 2024-09-17  537.600  542.1000  530.5700  536.315  11690779
11 2024-09-18  537.065  544.2000  533.9026  537.950  10323537
12 2024-09-19  550.000  562.0700  546.5200  559.100  15646951
13 2024-09-20  560.000  564.5000  556.3001  561.350  22066817
14 2024-09-23  569.500  573.9799  562.4100  564.410  12830669
15 2024-09-24  566.680  567.7450  554.1900  563.330  12992956
16 2024-09-25  564.050  576.8800  563.7200  568.310  16543350
17 2024-09-26  575.730  577.4000  562.3501  567.840  14400787
18 2024-09-27  570.100  570.8399  564.5100  567.360   9398367
19 2024-09-30  567.700  574.6800  564.8000  572.440  12807206